 
bin/
obj/
[Bb]uild/
!src/**/bin/
!src/**/obj/
*.cache
*.pdb
*.ilk
*.log
*.vspscc
*.vssscc
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
*.sln.ide
*.code-workspace
.ReSharper
*.DotSettings.user
*.DotSettings
.DS_Store
Thumbs.db
desktop.ini
*.nupkg
*.snupkg
packages/
**/packages/*
!packages/build/
*.dll
*.exe
*.app
*.apk
*.so
*.dylib
*.zip
*.tar.gz
*.log
*.obj
*.lib
*.localhistory
.vscode/
project.lock.json
project.fragment.lock.json
artifacts/
.dockerignore
docker-compose.override.yml
TestResults/
.nuget/
.vscode-test/
node_modules/
project.assets.json
.publish/
*.publishsettings
publish/
log/
*.bak
*.swp
*.tmp
*.temp
~$*
.idea/
*.sln.iml
*.tlog
*.trace
msbuild.log
